@model IEnumerable<MVC.Models.User>
@{
    ViewData["Title"] = "Home Page";
}

<h1 class="display-4">Welcome</h1>

<a class="main-link profile__main-link" asp-controller="Admin" asp-action="Create">Добавить пользователя</a>

<a class="main-link profile__main-link" asp-controller="Admin" asp-action="ManageVolReq">Заявки в волонтёры</a>

<a class="main-link profile__main-link" asp-controller="Admin" asp-action="ManageSearchReq">Заявки на поиск</a>

<a class="main-link profile__main-link" asp-controller="Admin" asp-action="GetOperations">Операции</a>



<table class="table">
    <tr><th>Имя</th><th>Email</th><th></th></tr>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.SurName @user.Name</td>
            <td>@user.Email</td>
            <td>
                <form asp-controller="Admin" asp-action="Delete" asp-route-id="@user.Id" method="post">
                    <a class="btn btn-sm btn-primary" asp-controller="Admin" asp-action="Edit" asp-route-id="@user.Id">Изменить</a>
                    <button type="submit" class="btn btn-sm btn-danger">
                        Удалить
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<br />
<a class="main-link" asp-controller="Home" asp-action="Index">Назад</a>
