@model MVC.Models.Operation
@{
    ViewData["Title"] = "Информация об операции";
}


<table class="table table-bordered">
    <tr>
        <th>Фото</th>
        <td><img class="search-photo" src="@Url.Content(Model.SearchRequest.Photo)"></td>
    </tr>
    <tr>
        <th>ФИО</th>
        <td>@Model.SearchRequest.FullName</td>
    </tr>
    <tr>
        <th>Возраст</th>
        <td>@Model.SearchRequest.Age</td>
    </tr>
    <tr>
        <th>Пол</th>
        <td>@Model.SearchRequest.Sex</td>
    </tr>
    <tr>
        <th>Область пропажи</th>
        <td>@Model.SearchRequest.MissArea</td>
    </tr>
    <tr>
        <th>Время пропажи</th>
        <td>@Model.SearchRequest.MissTime</td>
    </tr>
    <tr>
        <th>Доп. информация</th>
        <td>@Model.SearchRequest.AddInf</td>
    </tr>
    <tr>
        <th>Список участников</th>
        <td>
            <ul>
                @foreach (var user in Model.Users)
                {
                    <li>
                        @user.SurName @user.Name
                    </li>
                }
            </ul>
        </td>
    </tr>
</table>

@if (User.IsInRole("volunteer") && !Model.Users.Contains(ViewBag.User))
{
    <a class="btn btn-sm btn-primary profile__main-link" asp-controller="Home" asp-action="JoinOperation" asp-route-id="@Model.Id">Присоединиться</a>
}
<a class="main-link profile__main-link" asp-action="CheckOperations">Назад</a>


@if (User.IsInRole("admin"))
{
    @await Html.PartialAsync("~/Views/Admin/_CreateComment.cshtml", new Comment() { OperationId = Model.Id })
}

@*<a class="main-link" asp-controller="Admin" asp-action="CreateComment" asp-route-id="@Model.Id">Добавить комментарий</a>*@


<table class="table">
    @foreach (var comm in Model.Comments)
    {
        <tr>
            <td>>@comm.Text</td>
            @if (User.IsInRole("admin"))
            {
                <td><a class="btn btn-sm btn-danger" asp-controller="Admin" asp-action="DeleteComment" asp-route-id="@comm.Id">Удалить</a></td>
            }
        </tr>

    }
</table>

@section Scripts {@await Html.PartialAsync("_ValidationScriptsPartial")}


